.Accounts {
    text-align: center;
    min-height: 100vh;
    max-width: 600px;
    max-height: 900px;
    background-color: #345eb5;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
  }
  
  .Accounts-header {
    background-color: #fefefe;
    color: #df1b29;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    max-height: 92px;
    min-height: 10vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

  }

  .Accounts-previousorders {
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: #fefefe;
    
}

h4{
    float: right;
}