.orderForm{
    background-color: #345eb5;
    padding: 10%;
}

.orderForm form{
    background-color: #ffffff;
    padding: 7.5%;
}

.orderForm input{
    display: block;
}

.orderform label{
    margin: 0.5em;
}