.App {
  text-align: center;
  min-height: 100vh;
  max-width: 600px;
  max-height: 900px;
  background-color: #345eb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 92px;
  min-height: 10vh;
  width: 100vw;
}
